on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on early-init && property:ro.boot.boardid=S88029AA1
    setprop ro.boot.product.hardware.sku hcesim
    setprop ro.vendor.se.type HCE,UICC

on early-init && property:ro.product.device=river
    setprop persist.vendor.nfc.factory.fwstatus unknown
    setprop ro.vendor.nfc.repair 1
    setprop ro.vendor.nfc.wallet_fusion 1
    setprop ro.vendor.nfc.dispatch_optim 1

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all

    chmod 0777 /dev/goodix_fp

on post-fs-data
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system

on property:vendor.fps_hal.restartimes=max
	stop vendor.fps_hal_lc
