on early-init
    write /proc/sys/kernel/firmware_config/force_sysfs_fallback 1

    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on boot
    chown system system /sys/bus/platform/devices/soc:fpc1020/irq
    chown system system /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chown system system /sys/bus/platform/devices/soc:fpc1020/modalias
    chown system system /sys/bus/platform/devices/soc:fpc1020/compatible_all
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/irq
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/wakeup_enable
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/modalias
    chmod 0660 /sys/bus/platform/devices/soc:fpc1020/compatible_all

    chmod 0777 /dev/goodix_fp

on post-fs-data
    mkdir /data/vendor/fpc 0777 system system
    mkdir /data/vendor/goodix 0777 system system

on property:vendor.fps_hal.restartimes=max
	stop vendor.fps_hal_lc
